<html>
   <body>
      <form action = "/api/boards/{{board_id}}/posts/{{post_id}}" method = "POST">
         <p>Edit Post</p>
         <p><input type = "text" value="{{post_data.title}}" name = "post_title" placeholder="Add New Post Title"/></p>
         <p><input type = "text" value="{{post_data.content}}" name = "post_content" placeholder="Add New Post"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
   </body>
</html>